.task-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: var(--secondary);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Keeps the rounded corners effect */
}

.task-list-info {
  padding: 20px;
  background-color: var(--background);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem;
  border-radius: 50px;
  border-bottom: 1px solid var(--primary-dark);
}

.task-list {
  flex: 1; /* Allows this element to grow and fill available space */
  overflow-y: auto; /* Makes it scrollable */
  padding: 10px 20px;
  margin: 0 1rem; /* Adjusted to match the margin of task-list-info for consistency */
  border-radius: 50px; /* If you want the inner list to also have rounded corners */
}

.task-input-wrapper {
  padding: 25px 20px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem;
  border-radius: 50px;
}

.task-input-wrapper > input {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  height: 2.6rem;
  width: 90%;
  border-radius: 50px;
  background-color: var(--background);
  color: var(--text);
  font-size: var(--font-size-xlarge);
  font-weight: 600;
  font-family: var(--secondary-font);
  outline: none;
}

.task-enter {
  background-color: var(--background);
  color: var(--white);
  border: none;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-enter:hover {
  box-shadow: 0 0 10px var(--visited);
}

.task {
  padding: 10px 20px;
  background-color: var(--background);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.6rem;
  border-radius: 50px;
  border-bottom: 1px solid var(--primary-dark);
}