.footer-wrapper{
  /* text-align: center; */
  margin-top : 20%;
  margin-bottom : 5%;
}



/* styles for the footer up section  */

.footer-up{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5%;
  align-items: center;

}

.footer-up-left{
margin-right: 30%; 
}


.footer-up-left > h1{
  font-size: var(--font-size-mammoth);
  font-weight: var(--font-weight-bold);
  color: var(--accent);
}


.footer-up-right > h1{
  font-size: var(--font-size-mammoth);
  font-weight: var(--font-weight-bold);
  color: var(--accent);
  
}


.footer-btn{
  background : transparent;
  border : 1px solid var(--accent);
  padding : 1% 2%;
  border-radius : 60px;
  width : 50%;
  height: 50px;
  font-size: var(--font-size-medium);
  color : var(--text);
  transition: 0.8s ease-in-out;
  margin-top: 5%;
}

.footer-btn:hover{
  background : var(--accent);
  color : var(--primary);
  font-weight: 900;
  cursor : pointer;
  transition: 0.5s ease-in-out;
}




.footer-input{
  background : transparent;
  border : 1px solid var(--accent);
  padding : 1% 2%;
  border-radius : 60px;
  width : 90%;
  height: 50px;
  font-size: var(--font-size-medium);
  color : var(--text);
  transition: 0.8s ease-in-out;
  outline: none;
  margin-right: 5%; 
  
}

.footer-btn-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius : 50%;
  overflow : hidden;
  background: transparent;
  border : 1px solid var(--accent);
}

.input-wrapper{
  display: flex;
  align-items: center;
  margin-top: 5%;
  width : 155%;
}

/* styles for the footer mid section */

.footer-mid{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10%;
  align-items: center;
}


.listas{
  list-style-type: none;
  font-size: var(--font-size-medium);
}

.list{
  margin-bottom : 5%;
 
}



.list:hover{
  cursor : pointer;
}







/* styles for the footer bottom section */

.footer-bottom{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5%;
  align-items: center;
}

.social-icons{
  display: flex;
  gap: 10px;
}

.footer-bottom > h1{
  font-size: var(--font-size-mammoth);
  font-weight: 900;
  letter-spacing: 1rem;
  /* color: var(--accent); */
}
/* 
.footer-icons{
  font-size: var(--font-size-mammoth);
  color: var(--text);
  transition: 0.5s ease-in-out;

} */

.feather:hover{
  cursor : pointer;
  color: var(--accent);
}

